name: "Pipeline: Swift Build & Test"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: "Compile Project"
      run: swift build -v
      
    - name: "Run Unit Tests"
      run: swift test -v
